name: Deploy Server
run-name: Released latest version of server to VM.
on:
  workflow_dispatch:
  push:
    branches:
      - 'releases/**'
jobs:
  docker-compose-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Replace configuration values in config
        uses: datamonsters/replace-action@v2
        with:
          files: 'server/config/default.yml'
          replacements: |
            _FRONTENDROOT_=${{ secrets.FRONTEND_ROOT }},_SMTPHOST_=${{ secrets.SMPT_SERVER }},_SMTPPORT_=${{ secrets.SMTP_PORT }},_SMTPUSER_=${{ secrets.SMTP_USER }},_SMPTPASSWORD_=${{ secrets.SMTP_PASSWORD }},_SMTPFROM_=${{ secrets.SMPT_FROM }},_JWTSECRET_=${{ secrets.LIGHT_ARCHIVES_JWTSECRET }},_JWTEXPIRY_=${{ secrets.LIGHT_ARCHIVES_JWTEXPIRY }},_JWTSCOPEDEXPIRY_=${{ secrets.LIGHT_ARCHIVES_JWTSCOPEDEXPIRY }},_BOTTOKEN_=${{ secrets.DISCORD_BOT_TOKEN }},_SERVERID_=${{ secrets.DISCORD_SERVER_ID }},_ANNOUNCEMENTCHANNEL_=${{ secrets.DISCORD_ANNOUNCMENTCHANNEL_ID }},_S3ENDPOINT_=${{ secrets.S3_ENDPOINT }},_S3BUCKETNAME_=${{ secrets.S3_BUCKETNAME }},_S3PUBLICROOTURL_=${{ secrets.S3_PUBLICROOTURL }},_S3ACCESSKEYID_=${{ secrets.S3_ACCESSKEYID }},_S3SECRETACCESSKEY_=${{ secrets.S3_SECRETACCESSKEY }}
      - name: Replace configuration values in docker-compose
        uses: datamonsters/replace-action@v2
        with:
          files: 'server/docker-compose.yml'
          replacements: '_USER_=${{ secrets.LIGHT_ARCHIVES_USERNAME }}'
      - name: SSH-Compose
        # You may pin to the exact commit or the version.
        # uses: matiasnu/github-action-ssh-docker-compose@d2e13949c92cb86a69ea36e83ebaa01d6d01de9c
        uses: matiasnu/github-action-ssh-docker-compose@v2.0.1
        with:
          # Private SSH key used for logging into remote system.
          ssh_private_key: ${{ secrets.LIGHT_ARCHIVES_PRIVATESSHKEY }}
          # Remote host name.
          ssh_host: ${{ secrets.LIGHT_ARCHIVES_HOST }}
          # Remote SSH port.
          ssh_port: ${{ secrets.LIGHT_ARCHIVES_PORT }}
          # Remote user name.
          ssh_user: ${{ secrets.LIGHT_ARCHIVES_USERNAME }}
          # Prefix for docker-compose containers.
          docker_compose_prefix: server
          # Docker compose file to use
          docker_compose_filename: server/docker-compose.yml
